<h2 class="text-2xl font-bold mb-4 mt-4">Spending Entry</h2>

<div class="mb-4">
  <p class="block font-bold mb-2">Amount:</p>
  <p><%= @spending.amount %></p>
</div>

<div class="mb-4">
  <p class="block font-bold mb-2">Name:</p>
  <p><%= @spending.name %></p>
</div>

<div class="mb-4">
  <p class="block font-bold mb-2">Description:</p>
  <p><%= @spending.description %></p>
</div>

<div class="mb-4">
  <p class="block font-bold mb-2">Category:</p>
  <p><%= @spending.category %></p>
</div>

<%= link_to "Back", spendings_path, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
