<h2 class="text-2xl font-bold mb-4 mt-4">Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block font-bold mb-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-gray-400 p-2 w-full" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="mb-4">
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :password, class: "block font-bold mb-2" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", class: "border border-gray-400 p-2 w-full" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block font-bold mb-2" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border border-gray-400 p-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :current_password, class: "block font-bold mb-2" %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "border border-gray-400 p-2 w-full" %>
  </div>

  <div class="actions mb-6">
    <%= f.submit "Update", class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
  </div>
<% end %>

<h3 class="mb-4 mt-4">Cancel my account</h3>

<p class="mb-4">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { "turbo-method": :delete }, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600" %></p>

<%= link_to "Back", :back %>
